h1{
  color: white;
  font-size: 40px;
  font-style bold; 
  }
ul{
  list-style-type: none;
  margin: 0; 
  padding: 0;
  overflow: hidden;
background-color: #EF2B01
}

  li{
float: left;
}

li a{
  display: block;
  padding: 14px 16px;
  text-align: center;
  color: white
    text-decoration: none;
}

li a:hover{
  background-color; #070100
}
